* {
    font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    border: none;
    border-radius: 0;
}

window#waybar {
    background-color: transparent;
    padding: 0;
}

/* Стили для отдельно стоящих модулей */
#custom-search, 
#mpris, 
#workspaces, 
#language, 
#clock, 
#custom-power, 
#cpu, 
#battery {
    background-color: transparent;
    color: #cdd6f4;
    padding: 6px 12px;
    margin: 4px 4px; 
}

/* Системный трей */
#tray {
    background-color: #1e1e2e;
    border-radius: 16px;
    padding: 6px 12px;
    margin: 4px 4px;
}

#tray button {
    color: #cdd6f4;
}

/* Капсула группы железа (используем класс вместо ID для надежности) */
.modules-right #lock, 
#group-hardware {
    background-color: #1e1e2e;
    border-radius: 16px;
    padding: 0 8px;
    margin: 4px 4px;
}

/* Жёсткий сброс и раздвижение иконок внутри капсулы */
#group-hardware label,
#group-hardware text,
#group-hardware widget,
#pulseaudio,
#custom-wifi,
#custom-bluetooth {
    background-color: transparent;
    color: #cdd6f4;
    padding: 10px 10px;
    margin: 0;
}

/* Настройки Воркспейсов */
#workspaces button {
    padding: 0 5px;
    font-size: 12px;
    color: #6c7086;
}

#workspaces button.active {
    color: #cdd6f4;
    border-radius: 20px;
}

#workspaces button.urgent {
    color: #f38ba8;
}

#workspaces button:hover {
    background-color: rgb(157, 145, 145);
    color: #a8a8bd;
    border-radius: 50px;
}

#clock {
    font-weight: bold;
}

#custom-search {
    font-size: 16px;
    color: #cdd6f4; 
}

#custom-search:hover {
    background-color: #343545; 
    border-radius: 16px;
}

#custom-power {
    color: #cdd6f4;
}

#custom-power:hover {
    background-color: #b03535; 
    color: #ffffff;
    border-radius: 16px;
}
